-e git://github.com/kingsaffair/django-ucamwebauth.git#egg=django-ucamwebauth
django
django-webpack-loader
djangorestframework
qrcode
djangorestframework-jwt
psycopg2
celery
django-debug-toolbar
django-filter
django-crispy-forms
Pillow
django-extensions
django-loginas
